# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.classpath
*.project
E-Commerce/Java/.settings/org.eclipse.jdt.core.prefs
/E-Commerce/Python/E-Commerce/E-Commerce/__pycache__
/E-Commerce/Python/E-Commerce/E-Commerce.sln
/E-Commerce/Python/E-Commerce/E-Commerce/E-Commerce.pyproj
/E-Commerce/Python/E-Commerce/.vs/E-Commerce/v15
/.vs
